.about {
    margin-top: 70px;
    margin-bottom: 30px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 75%;
}

.about-me {
    display: flex;
    justify-content: right;
}

.about p {
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    font-size: 16px;
}
