.about {
  margin-top: var(--spacing-xs);
}

.about-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}

.about h3 {
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 75%;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.about-text {
  padding: var(--spacing-lg);
}

@media screen and (min-width: 750px) {
  .about {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }

  .about-text {
    margin: var(--spacing-xl);
  }

  .about h3 {
    text-align: start;
    margin-left: var(--spacing-sm);
  }
}
