button {
  margin-top: var(--spacing-md);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-family: cabin-bold, sans-serif;
  font-size: var(--standard);
  background-color: var(--grey);
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 6px #6e6e6e;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
