.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 15px solid var(--green);
    opacity: 50%;
    position: relative;
    right: 35px;
    bottom: 35px;
}
