.cogs {
  position: relative;
  width: 500px;
  height: 325px;
}

.cog-one {
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.cog-two {
  position: absolute;
  bottom: 23%;
  left: 10%;
}

.cog-three {
  position: absolute;
  bottom: 46%;
  left: 58%;
}

.cog-four {
  position: absolute;
  bottom: 53%;
  left: 16%;
}

.cog-five {
  position: absolute;
  bottom: 63%;
  left: 43%;
}

.cog-six {
  position: absolute;
  bottom: 87%;
  left: 37%;
}

.rotate {
  animation: rotation 25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reverse {
  animation: rotation 28s infinite linear;
}

@keyframes reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
