.contact {
  text-align: center;
}

.contact p {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.contact a {
  margin-top: var(--spacing-lg);
  color: var(--green);
  display: block;
}

@media screen and (min-width: 750px) {
  .contact {
    text-align: left;
  }
}
