.contact {
    margin-top: var(--spacing-xl);
    margin-right: var(--spacing-lg);
    margin-left: var(--spacing-lg);
}

.contact-card {
    height: fit-content;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: var(--spacing-xl);
    padding: var(--spacing-xl);
}

.contact p {
    color: var(--black);
    font-size: var(--standard-md);
}

.contact-text {
    padding: var(--spacing-xl);
}

@media screen and (max-width: 750px) {
    .contact p {
        text-align: center;
        font-size: var(--standard-sm);
    }

    .contact h3 {
        text-align: center;
        margin-bottom: var(--spacing-xs);
    }
}
