/* footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-top: 2px solid var(--green);
}

ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
    padding: 20px;
} */
