header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--spacing-lg);
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  font-family: cabin-bold;
  display: flex;
  align-items: center;
  padding: var(--spacing-lg);
}

a {
  text-decoration: none;
}

nav {
  visibility: hidden;
}

@media screen and (min-width: 750px) {
  nav {
    visibility: visible;
  }

  header {
    justify-content: space-between;
  }

  a {
    color: var(--grey);
    font-size: 18px;
  }

  a:hover {
    transition: all 0.2s ease 0s;
    color: var(--green);
  }
}
