header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    display: flex;
}

li {
    font-family: cabin;
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    color: #696969;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    transition: all 0.2s ease 0s;
    color: rgba(104, 202, 173, 0.7);
}

li img {
    opacity: 70%;
}
