.welcome {
    min-height: calc(100vh - (70px + var(--spacing-xl)));
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.home-card {
    height: 650px;
    border-radius: 15px;
    background-color: var(--green);
    margin: var(--spacing-lg);
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content {
    height: 400px;
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-contact {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
}

.socials li {
    padding: var(--spacing-lg);
}

@media screen and (max-width: 1600px) {
    .home-card {
        height: 525px;
    }
}

@media screen and (max-width: 1025px) {
    .welcome {
        min-height: 0;
    }
    .home-card {
        width: 800px;
    }
}

@media screen and (max-width: 750px) {
    .welcome {
        height: 100vh;
        margin-top: var(--spacing-sm);
        margin-bottom: var(--spacing-sm);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .home-card {
        width: 300px;
        height: 500px;
        margin: var(--spacing-sm);
        padding: var(--spacing-sm);
    }

    .card-content {
        padding: var(--spacing-xs);
        align-items: center;
        text-align: center;
    }

    .card-contact {
        flex-direction: column;
    }
}
