.logo-wrapper {
  height: 50px;
  width: 50px;
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: var(--spacing-sm);
}

.logo {
  font-family: cabin-bold;
  font-size: 18px;
  color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
