:root {
  /* colours */
  --green: rgba(104, 202, 173, 0.7);
  --grey: rgb(94, 94, 94);
  --light-grey: rgba(104, 104, 104);
  --white: rgba(249, 249, 249);
  --black: rgba(0, 0, 0);

  /* typography */
  --heading-alpha: 30px;
  --heading-bravo: 14px;
  --heading-charlie: 20px;
  --standard: 12px;

  /* margin & padding */

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 50px;
}

@media screen and (min-width: 960px) {
  :root {
    --heading-alpha: 50px;
    --heading-bravo: 16px;
    --heading-charlie: 25px;
    --standard: 14px;
  }
}

@media screen and (min-width: 750px) {
  :root {
    --heading-alpha: 60px;
    --heading-bravo: 22px;
    --heading-charlie: 30px;
    --standard: 16px;
  }
}
