.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tools img {
  margin-bottom: var(--spacing-lg);
  margin-left: var(--spacing-xl);
}

.tech img {
  margin-bottom: var(--spacing-lg);
  margin-left: var(--spacing-xl);
}

.people img {
  margin-bottom: var(--spacing-xs);
  margin-left: var(--spacing-xl);
}

.skills-box ul {
  margin-bottom: var(--spacing-lg);
}

@media screen and (min-width: 750px) {
  .skills-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  .tech {
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 325px;
  }

  .tech img {
    margin-left: 0px;
  }

  .people img {
    margin-left: 0px;
  }

  .tools img {
    margin-left: 0px;
  }

  .cogs {
    grid-column: span 4;
  }

  .tools {
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 325px;
  }

  .people {
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 325px;
  }
}
