.skills {
    background-color: var(--white);
    height: 300px;
    border-radius: 15px;
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-xl);
    display: flex;
    justify-content: space-between;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .skills {
        display: flex;
        flex-direction: column;
        height: min-content;
    }

    .skill-box ul {
        margin-top: var(--spacing-sm);
        margin-bottom: var(--spacing-sm);
    }
}
