@font-face {
    font-family: cabin;
    font-weight: italic;
    src: url(../assets/fonts/static/Cabin-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: cabin-bold;
    src: url(../assets/fonts/static/Cabin-Bold.ttf) format("truetype");
}

@font-face {
    font-family: comfortaa;
    src: url(../assets/fonts/static/Comfortaa-Medium.ttf) format("truetype");
}

.heading--alpha {
    font-family: cabin-bold;
    font-size: 60px;
    color: white;
}

.heading--bravo {
    color: #494747;
    font-size: 30px;
    font-family: cabin-bold;
    filter: opacity(75%);
}

.heading--charlie {
    font-family: cabin;
    font-size: 32px;
    color: #696969;
}

.heading--delta {
    font-family: cabin;
    font-size: 22px;
    color: #696969;
}

.heading--echo {
    font-family: cabin-bold;
    font-size: 18px;
    color: #696969;
}

p {
    font-family: cabin-bold;
    font-size: 14px;
}
