@font-face {
  font-family: cabin-bold;
  src: url(../assets/fonts/static/Cabin-Bold.ttf) format('truetype');
}

@font-face {
  font-family: nunito;
  src: url(../assets/fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: comfortaa;
  src: url(../assets/fonts/static/Comfortaa-Medium.ttf) format('truetype');
}

.heading--alpha {
  font-family: cabin-bold, sans-serif;
  font-size: var(--heading-alpha);
  color: var(--white);
}

.heading--bravo {
  font-family: cabin-bold, sans-serif;
  font-size: var(--heading-bravo);
  color: var(--white);
}

.heading--charlie {
  font-family: cabin-bold, sans-serif;
  font-size: var(--heading-charlie);
  color: var(--grey);
}

.heading--delta {
  font-family: comfortaa;
  font-size: var(--heading-delta);
  color: var(--black);
  line-height: 2.5;
}

p {
  font-family: nunito, sans-serif;
  color: var(--black);
  font-size: var(--standard);
}
