@font-face {
    font-family: cabin;
    font-weight: italic;
    src: url(../assets/fonts/static/Cabin-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: cabin-bold;
    src: url(../assets/fonts/static/Cabin-Bold.ttf) format("truetype");
}

@font-face {
    font-family: comfortaa;
    src: url(../assets/fonts/static/Comfortaa-Medium.ttf) format("truetype");
}

.heading--alpha {
    font-family: cabin-bold;
    font-size: var(--heading-alpha-lg);
    color: var(--white);
}

.heading--bravo {
    color: var(--grey);
    font-size: var(--heading-bravo-lg);
    font-family: cabin-bold;
    filter: opacity(75%);
}

.heading--charlie {
    font-family: cabin;
    font-size: 32px;
    color: var(--light-grey);
}

.heading--delta {
    font-family: cabin;
    font-size: 22px;
    color: var(--light-grey);
}

.heading--echo {
    font-family: cabin-bold;
    font-size: 18px;
    color: var(--light-grey);
}

p {
    font-family: cabin-bold;
    color: var(--white);
    font-size: var(--standard-lg);
}

.socials img {
    filter: opacity(75%);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 960px) {
    .heading--alpha {
        font-size: var(--heading-alpha-md);
    }
    .heading--bravo {
        font-size: var(--heading-bravo-md);
    }
    p {
        font-size: var(--standard-md);
    }
}

@media screen and (max-width: 750px) {
    .heading--alpha {
        font-size: var(--heading-alpha-sm);
    }
    .heading--bravo {
        font-size: var(--heading-bravo-sm);
    }
    p {
        font-size: var(--standard-sm);
    }
}
