.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1250px;
    margin: auto;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        max-width: 1000px;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        max-width: 340px;
    }
}
