.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 340px;
  margin: auto;
  padding: var(--spacing-sm);
}

@media screen and (min-width: 750px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper {
    max-width: 1200px;
  }
}
